/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ropa Sans", Arial, sans-serif;
}

body {
  background-color: #262533;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.my-nav {
  background-color: #f9cc41 !important;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin: 0 20px;
  position: relative;
  font-size: 20px;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* CHAT CONTAINER */
.chat-container {
  width: 420px;
  background: white;
  color: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.chat-header {
  background: #0a8df0;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.chat-box {
  padding: 15px;
  height: 450px;
  overflow-y: auto;
  background: #f6f6f6;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.message p {
  font-size: 14px;
}

.message span {
  margin-top: 5px;
  font-size: 11px;
  opacity: 0.7;
  display: block;
  text-align: right;
}

/* Pesan user */
.user {
  background: #d1f7c4;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

/* Pesan bot */
.other {
  background: #ffffff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 0;
}

/* Input area */
.input-area {
  display: flex;
  padding: 12px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #aaa;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 18px;
  background: #0a8df0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .chat-container {
    width: 95%;
  }
  .nav-link {
    margin: 0 12px;
  }
}
