/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ropa Sans", Arial, sans-serif;
}

body {
  background-color: #262533;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Loading Overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262533; /* Sama seperti background body */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Menutupi semua konten */
  flex-direction: column;
  color: white;
}

.loading-content h2 {
  margin-bottom: 20px;
}

.progress-bar {
  width: 300px;
  height: 20px;
  background-color: #555;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: #f9cc41;
  border-radius: 12px;
  transition: width 0.2s ease;
}

.percent {
  font-size: 20px;
}

/* Navbar */
.my-nav {
  background-color: #f9cc41 !important;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  flex: 0 0 auto;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10%;
}

.hero h2 {
  font-size: 42px;
  font-weight: 700;
}

.highlight {
  color: #f9cc41;
}

/* Deskripsi hero di-justify */
.hero-desc {
  font-size: 18px;
  margin: 10px 0 25px;
  line-height: 1.6;
  text-align: justify; /* Rata kanan kiri */
  text-justify: inter-word; /* Jarak antar kata rapi */
}

.btn-hero {
  padding: 12px 25px;
  background-color: #111;
  color: #f9cc41;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-hero:hover {
  background-color: #f9cc41;
  color: #111;
}

/* Carousel */
.carousel-inner {
  padding: 0 12%;
}

.carousel-img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Grid Cards */
.container.text-center.my-5 .card {
  background-color: #4d4d4d;
  color: black;
  border-radius: 15px;
  transition: transform 0.3s, background-color 0.3s;
}

.container.text-center.my-5 .card:hover {
  transform: translateY(-10px);
  background-color: #e0e0e0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
  background-color: #111;
  color: white;
  padding: 15px;
  text-align: center;
}
