/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ropa Sans", Arial, sans-serif;
}

body {
  background-color: #262533;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.my-nav {
  background-color: #f9cc41 !important;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Hero */
.hero {
  flex: 0 0 auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10%;
}

.hero h2 {
  font-size: 42px;
  font-weight: 700;
}

.highlight {
  color: #f9cc41;
}

.hero-desc {
  font-size: 18px;
  margin: 15px 0 25px;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
}

.btn-hero {
  padding: 12px 25px;
  background-color: #111;
  color: #f9cc41;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-hero:hover {
  background-color: #f9cc41;
  color: #111;
}

/* Service Cards */
.service-card {
  background-color: #4d4d4d;
  color: black;
  border-radius: 15px;
  transition: transform 0.3s, background-color 0.3s;
  padding: 20px;
}

.service-card:hover {
  transform: translateY(-10px);
  background-color: #e0e0e0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Accordion */
.accordion-button {
  background-color: #4d4d4d;
  color: black;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background-color: #f9cc41;
  color: #111;
}

.accordion-body {
  background-color: #262533;
  color: white;
}

/* Carousel */
.carousel-inner img {
  border-radius: 10px;
}

/* Footer */
.footer {
  background-color: #111;
  color: white;
  padding: 15px;
  text-align: center;
}
