/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ropa Sans", Arial, sans-serif;
}

body {
  background-color: #262533;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.my-nav {
  background-color: #000000 !important;
  padding: 5px 0;
  position: sticky; /* menempel di atas */
  top: 0;
  z-index: 999; /* selalu di atas konten */
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  flex: 0 0 auto;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10%;
}

.hero h2 {
  font-size: 42px;
  font-weight: 700;
}

.highlight {
  color: #f9cc41;
}

.hero p {
  font-size: 18px;
  margin: 10px 0 25px;
  line-height: 1.6;
}

.btn-hero {
  padding: 12px 25px;
  background-color: #111;
  color: #f9cc41;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-hero:hover {
  background-color: #f9cc41;
  color: #111;
}

/* Carousel */
.carousel-above-footer {
  flex: 0 0 auto;
  margin-bottom: 0;
}

.carousel-inner {
  padding: 0 12%; /* jarak kiri & kanan agar gambar terlihat lebih kecil */
}

.carousel-img {
  width: 100%;
  max-width: 900px; /* ukuran maksimal lebih kecil */
  height: auto; /* tinggi menyesuaikan proporsi gambar */
  margin: 0 auto; /* tengah secara horizontal */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Grid */
.container.text-center.my-5 .card {
  background-color: #4d4d4d; /* ganti warna background */
  color: black; /* warna teks */

  border-radius: 15px; /* sudut membulat */
  padding: 20px; /* jarak dalam card */
  transition: transform 0.3s, background-color 0.3s; /* efek halus saat hover */
}

/* Efek hover */
.container.text-center.my-5 .card:hover {
  transform: translateY(-10px); /* naik sedikit saat hover */
  background-color: #e0e0e0; /* ganti warna saat hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* efek bayangan lebih besar */
}

/* H2 di dalam card */
.container.text-center.my-5 .card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* P di dalam card */
.container.text-center.my-5 .card p {
  font-size: 1rem;
  margin: 0;
}

/* Footer */
.footer {
  background-color: #111;
  color: white;
  padding: 15px;
  text-align: center;
  flex-shrink: 0;
}
